{% extends "base_template.html" %}

{% block title %}Cambiar contraseña{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for("static", filename='css/cambiarcontraseña.css')}}" type="text/css" />
{% endblock %} 
{% block content %}
  <header>
    <p class="tit"> ATI[UCV]2022-01</p>
  </header>
  <div class = "container">
    <h2 class = "tit1">Cambiar contraseña</h2>
    <h4 class="tit2">Su cuenta ha sido creada exitosamente.</h4>
    <h4 class="tit3">En estos momentos puede cambiar si contraseña o hacerlo déspues.</h4>
    
    <label id = "lblContra">Contraseña nueva</label>
    <input type = "text" id = "contraInput" placeholder = "Ingresa tu contraseña">
    
    
    <a class="entrar" href="/">
      Iniciar sesión
    </a>
    <a class="omitir" href="/">
      Omitir
    </a>
    

  </div>
{% endblock %}

