{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="../static/css/comentarios.css" type="text/css" />
<link rel="stylesheet" href="../static/css/home.css" type="text/css" />
{% endblock %} {% block content %}
<!-------- Titulo de la pagina  ------->
<div class="title_page">
  <a href="/">
    <img
      src="../static/images/icons/arrow_left.svg"
      class="arrow"
      alt="flecha para volver"
    />
  </a>
  <h1 class="title_text">Comentarios</h1>
</div>

<!-------- Publicacion con imagen -------->
<div class="card">
  <div class="head_card">
    <img
      src="../static/images/png/avatar_man.png"
      class="avatar_card"
      alt="foto de perfil del usuario"
    />
    <div class="name_date_card">
      <p class="name_card">Eduardo Yanez</p>
      <p class="date_card">24/10/2022 6:25PM</p>
    </div>
  </div>
  <p class="caption">El nuevo preparador es genial!!</p>
  <!-- imagen -->
  <img
    src="../static/images/png/card.png"
    class="cover_card"
    alt="foto de la publicacion"
  />
  <!-- comentarios -->
  <div class="comments">
    <p class="comments_card"></p>
    <div class="comments_card_icon">
      <img
        class="comment_icon"
        src="../static/images/icons/chat_fill_black.svg"
        alt="icono de comentarios"
      />
      <p class>57</p>
    </div>
  </div>
</div>
<!------- Comentario --------->
<div class="comentario_item">
  <img
    class="avatar"
    src="../static/images/png/avatar_man3.png"
    alt="foto de perfil del usuario"
  />
  <div class="comentario">
    <div class="nombre_fecha">
      <p class="nombre_comentario">Cristian Diaz</p>
      <p class="fecha_comentario">Hace 1 min</p>
    </div>
    <p class="comentario_texto">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra aliquam,
      congue habitasse tortor. Fringilla nunc aliquam volutpat suscipit
      porttitor in quis sagittis hac. Tellus sed ac libero
    </p>
  </div>
</div>
<!------- Agregar un comentario -------->
<div class="agregar_comentario">
  <input type="text" placeholder="Agrega un comentario" class="input_simple" />
  <button class="btn button_fill button_post">Post</button>
</div>
{% endblock %}
