{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/ver-perfil.css')}}" type="text/css" />
{% endblock %} {% block content %}
<!-------- Titulo de la pagina  ------->
<div class="title_page">
  <a href="/perfil">
    <img src="{{ url_for('static', filename='images/icons/arrow_left.svg')}}" class="arrow" alt="flecha para volver" />
  </a>
  <h1 class="title_text">Editar Perfil</h1>
</div>
<div class="container-md row">
  <img width="148" height="148" src="{{ url_for('static', filename='images/svg/eduardo_yanez.svg')}}"
    alt="icono de mi perfil" class="mx-auto d-block imagenPerfil mx-lg-0" style="position: relative; left:42%;" />

  <a href="#" class="text-start h5 imagenPerfil" style="color:#3D65BA; position: relative; left:42%;">Cambiar foto de
    perfil</a>

  <!-- <a href="./app/templates/home.html">
                            <img src="./app/static/images/icons/arrow_left.svg" class="arrow" alt="flecha para volver" />
                        </a> -->
  <!-- boton de amigos -->
  <!-- <div class="row">
                        <div class="col v-center">
                            <button class="btn d-block mx-auto btn-perfil"> Amigos </button>
                        </div>  
                    </div> -->
</div>
<div class="col-lg-9 imagenPerfil">
  <p> </p>
</div>


                <!-- informacion del perfil -->
                <div class="row">
                    <h2 class="h5 fw-bold">Username </h2 class="h5 fw-bold">
                    <p class="text-start h5 imagenPerfil" contenteditable="true">Eduardo Yanez</p>
                    <hr />

  <h2 class="h5 fw-bold">Bio </h2 class="h5 fw-bold">
  <p class="text-start h5 imagenPerfil" contenteditable="true">Soy una persona positiva. Me encanta viajar y comer.</p>
  <hr />

  <div class="col-lg-12 col-md-12">


    <h2 class="h5 fw-bold">Detalles</h2 class="h5 fw-bold">
    <div class="card">

    <!---------- Footer -------------->
    <div class="footer d-lg-none">
        <a href="/">
          <img
            src="{{ url_for('static', filename='images/icons/home_fill.svg')}}"
            width="25"
            height="25"
            class="icon_footer"
            alt="icono de home"
          />
        </a>
        <img
          src="{{ url_for('static', filename='images/icons/notification.svg')}}"
          width="25"
          height="25"
          class="icon_footer"
          alt="icono de notificaciones"
        />
        <a href="/publicacion.html">
          <img
            src="{{ url_for('static', filename='images/icons/plus.svg')}}"
            width="25"
            height="25"
            class="icon_footer"
            alt="icono de crear publicacion"
          />
        </a>
        <img
          src="{{ url_for('static', filename='images/icons/chat.svg')}}"
          width="25"
          height="25"
          class="icon_footer"
          alt="icono del chat"
        />
        <a href="/perfil">
          <img
            src="{{ url_for('static', filename='images/svg/eduardo_yanez.svg')}}"
            width="25"
            height="25"
            class="icon_footer"
            alt="icono de mi perfil"
          />
        </a>
      </div>
    </div>

    <!-- Sidebar en desktop -->
    <div class="sidebar col-lg-4 d-none d-lg-block">
      <a href="/" class="item_sidebar">
        <img
          src="{{ url_for('static', filename='images/icons/home_white.svg')}}"
          alt="icono de home"
        />
        <p class="title_sidebar">Home</p>
      </a>
      <a class="item_sidebar">
        <img
          src="{{ url_for('static', filename='images/icons/notifications_white.svg')}}"
          alt="icono de notificaciones"
        />
        <p class="title_sidebar">Notificaciones</p>
      </a>
      <a class="item_sidebar" href="-/publicacion">
        <img
          src="{{ url_for('static', filename='images/icons/plus_white.svg')}}"
          alt="icono de crear publicacion"
        />
        <p class="title_sidebar">Crear publicación</p>
      </a>
      <a class="item_sidebar">
        <img
          src="{{ url_for('static', filename='images/icons/chat_white.svg')}}"
          alt="icono del chat"
        />
        <p class="title_sidebar">Chat</p>
      </a>
      <a href="/perfil" class="item_sidebar">
        <img
          width="50"
          height="50"
          src="{{ url_for('static', filename='images/svg/eduardo_yanez.svg')}}"
          alt="icono de mi perfil"
        />
        <p class="title_sidebar">Mi Perfil</p>
      </a>
      <a class="item_sidebar exit">
        <img
          src="{{ url_for('static', filename='images/icons/exit_white.svg')}}"
          alt="icono de cerrar sesion"
        />
        <p class="title_sidebar">Cerrar sesión</p>
      </a>
    </div>
  </div>
</div>
{% endblock %}