{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/ver-perfil.css')}}" type="text/css" />
{% endblock %} {% block content %}
<!-------- Titulo de la pagina  ------->
<div class="title_page">
  <a href="/perfil">
    <img src="{{ url_for('static', filename='images/icons/arrow_left.svg')}}" class="arrow" alt="flecha para volver" />
  </a>
  <h1 class="title_text">Editar Perfil</h1>
</div>
<div class="container-md row">
  <img width="148" height="148" src="{{ url_for('static', filename='images/svg/eduardo_yanez.svg')}}"
    alt="icono de mi perfil" class="mx-auto d-block imagenPerfil2 mx-lg-0" />
    



</div>

<input type="file" accept=".jpg, .png" class="custom-file-input" style="display: block; margin-right: auto; margin-left: auto; padding-left: 22%;"/>

<div class="col-lg-9 imagenPerfil">
  <p> </p>
</div>


  <!-- informacion del perfil -->
  <div class="row">
  <h2 class="h5 fw-bold">Username </h2 class="h5 fw-bold">
  <p class="text-start h5 imagenPerfil" contenteditable="true">Eduardo Yanez</p>
  <hr />

  <h2 class="h5 fw-bold">Bio </h2 class="h5 fw-bold">
  <p class="text-start h5 imagenPerfil" contenteditable="true">Soy una persona positiva. Me encanta viajar y comer.</p>
  <hr />

  <div class="col-lg-12 col-md-12">


    <h2 class="h5 fw-bold">Detalles</h2 class="h5 fw-bold">
    <div class="card">

      <div class="row table text-xs-center text-md-start vertical-align">
          <div class="col-xs-12 col-md-6 fw-bold">
              <img src=" {{ url_for('static', filename='images/icons/paleta-de-colores.svg')}}" width="22" height="22"
                  class="icon_footer i_margen" alt="icono de color fav" contenteditable="true" />Color favorito
          </div>
          <div class="col-xs-12 col-md-6" contenteditable="true">Morado</div>
      </div>
      <div class="row table text-xs-center text-md-start">
          <div class="col-xs-12 col-md-6 fw-bold">
              <img src="{{ url_for('static', filename='images/icons/libro-cerrado.svg')}} " width="22" height="22"
                  class="icon_footer i_margen" alt="icono de libro fav" />Libro favorito
          </div>
          <div class="col-xs-12 col-md-6" contenteditable="true">Harry Potter</div>
      </div>
      <div class="row table text-xs-center text-md-start">
          <div class="col-xs-12 col-md-6 fw-bold">
              <img src="{{ url_for('static', filename='images/icons/musica.svg')}}" width="22" height="22" class="icon_footer i_margen"
                  alt="icono de musica fav" />Música favorita
          </div>
          <div class="col-xs-12 col-md-6" contenteditable="true">Pop</div>
      </div>
      <div class="row table text-xs-center text-md-start">
          <div class="col-xs-12 col-md-6 fw-bold">
              <img src="{{ url_for('static', filename='images/icons/control-de-juego.svg')}}" width="22" height="22"
                  class="icon_footer i_margen" alt="icono de videojuego fav" />Videojuego favorito
          </div>
          <div class="col-xs-12 col-md-6" contenteditable="true">Zelda</div>
      </div>
      <div class="row table text-xs-center text-md-start">
          <div class="col-xs-12 col-md-6 fw-bold">
              <img src="{{ url_for('static', filename='images/icons/codificacion.svg')}}" width="22" height="22"
                  class="icon_footer i_margen" alt="icono de lenguajes" />Lenguajes aprendidos
          </div>
          <div class="col-xs-12 col-md-6" contenteditable="true">python, javascript, c++</div>
      </div>
      <div class="row table text-xs-center text-md-start">
          <div class="col-xs-12 col-md-6 fw-bold">
              <img src="{{ url_for('static', filename='images/icons/correo.svg')}}" width="22" height="22" class="icon_footer i_margen"
                  alt="icono de correo" />Correo
          </div>
          <div class="col-xs-12 col-md-6" contenteditable="true">eduardo.yanez@gmail.com</div>
      </div>

    </div>
      <hr>

    <div>
      <h2 class="h5 fw-bold">Color </h2 class="h5 fw-bold">
        <div>
          <input type="color" id="color" name="color" value="#006175"> 
          <label for="color"> #</label>
        </div>

        <div style="text-align: right;">
          <button style="width: 90px; height: 31px; background: #006175; color: white; border-radius: 20px; border: 1px solid;"> Guardar</button>
        </div>

    </div>



    
  </div>
</div>
{% endblock %}