{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/css/home.css" type="text/css" />
{% endblock %}
{% block content %}
  <div class="form-group search">
    <!-- Buscador -->
    <img
      class="search_icon"
      src="../static/images/icons/search.svg"
      alt="icono de lupa"
    />
    <input
      type="text"
      id="inputSearch"
      placeholder="Buscar"
      class="form-control"
    />
  </div>
  <!-------- Publicacion con imagen -------->
  <div class="card">
    <div class="head_card">
      <a href="/perfil">
      <img
        src="../static/images/png/avatar_man.png"
        class="avatar"
        alt="foto de perfil del usuario"
      />
      <div class="name_date_card">
        <p class="name_card">Eduardo Yanez</p>
      </a>
        <p class="date_card">24/10/2022 6:25PM</p>
      </div>
    </div>
    <p class="caption">El nuevo preparador es genial!!</p>
    <!-- imagen -->
    <img
      src="../static/images/png/card.png"
      class="cover_card"
      alt="foto de la publicacion"
    />
    <!-- comentarios -->
    <div class="comments">
      <a href="/comentarios">
        <p class="comments_card">Ver todos los comentarios</p>
      </a>
      <div class="comments_card_icon">
        <img
          class="comment_icon"
          src="../static/images/icons/chat_fill_black.svg"
          alt="icono de comentarios"
        />
        <p class>57</p>
      </div>
    </div>
  </div>

  <!------- Publicacion de texto ------->
  <div class="card">
    <div class="head_card">
      <a href="/perfil2">
      <img
        src="../static/images/png/avatar_man2.png"
        width="46"
        height="46"
        class="avatar"
        alt="foto de perfil del usuario"
      />
      <div class="name_date_card">
        <p class="name_card">Juan Jose Perez</p>
      </a>
        <p class="date_card">24/10/2022 3:00PM</p>
      </div>
    </div>
    <p class="caption">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra
    </p>
  </div>

  <!-------- Publicacion de texto ------->
  <div class="card">
    <div class="head_card">
      <a href="/perfil3">
      <img
        src="../static/images/png/avatar_x.png"
        width="46"
        height="46"
        class="avatar"
        alt="foto de perfil del usuario"
      />
      <div class="name_date_card">
        <p class="name_card">Carlos Miguel</p>
      </a>
        <p class="date_card">24/10/2022 3:00PM</p>
      </div>
    </div>
    <p class="caption">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra
    </p>
    <!-- comentarios -->
    <div class="comments">
      <a href="/comentarios">
        <p class="comments_card">Ver todos los comentarios</p>
      </a>
      <div class="comments_card_icon">
        <img
          class="comment_icon"
          src="../static/images/icons/chat_fill_black.svg"
          alt="icono de comentarios"
        />
        <p class>57</p>
      </div>
    </div>
  </div>
{% endblock %}