{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/iniciosesion1.css')}}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}" type="text/css" />
{% endblock %} {% block content %}
    <title>ATI [UCV] 2022-1</title>
  </head>
  <body>
    <header>
        <p class="tit"> ATI[UCV]2022-01</p>
    </header>
    <div class = "container">
        <h2 class = "tit1">Iniciar sesión</h2>
        
        <h4 class="tit2">Para iniciar sesióoooon por primera vez coloque como contraseña su número de cédula.</h4>
        <label id = "lblContra">Contraseña</label>
        <input type = "text" id = "contraInput" placeholder = "Ingresa tu contraseña">
        
        
        <a class="entrar" href="./cambiarcontraseña.html">
          Iniciar sesión
      </a>
    </div>
    {% endblock %}
