{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}" type="text/css" />
{% endblock %} {% block content %}
    <title>ATI [UCV] 2022-1</title>
  </head>
  <body>
    <header>
        <p class="tit"> ATI[UCV]2022-01</p>
    </header>
   
    <div class = "container">
        <h2 class = "tit1">Inicio de sesión</h2>
        <div class="login">
            <a class="facebook btn" href="#">
              <div class="btn-icon fb-icon"></div>
              Continuar con Facebook
            </a>
            <a class="twitter btn" href="#">
              <div class="twitter-icon btn-icon"></div>
              Continuar con Twitter
            </a>
        </div> 
        
        <div class="lineOr"><p>o</p></div>
        
        <h3 class="tit2">Inicia sesión con tu cuenta ATI</h3>
        <label id = "lblEmail">Email/Usuario</label>
        <input type = "text" id = "nomeInput" placeholder = "hey@tuemail.com">
            <label id = "lblContra">Contraseña</label>
        <input type = "text" id = "senhaInput" placeholder = "Ingresa tu contraseña">
        
        <a class="olvidoContra" href="./restablecer.html">
            ¿Has olvidado tu contraseña?
        </a>
        
        <a class="entrar" href="/">
          Iniciar sesión
        </a>

        <a class="registro" href="./registro.html">
            ¿No tienes cuenta? Registrate
        </a>

    </div>
  {% endblock %}
