{% extends "base1.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for("static", filename='css/notificaciones.css')}}" type="text/css" />
<link rel="stylesheet" href="{{ url_for("static", filename='css/home.css')}}" type="text/css" />
{% endblock %} {% block body %}
<!-------- Titulo de la pagina  ------->
<div class="title_page">
  <a href="/">
    <img
      src="{{ url_for('static', filename='images/icons/arrow_left.svg')}}"
      class="arrow"
      alt="flecha para volver"
    />
  </a>
  <h1 class="title_text">Notificaciones</h1>
</div>
<!---------notificaciones------------->
<form action="">
  <!-------- Crear publicacion  ---------->
  <div class="notificacion">
    <div class="comentario_item">
      <img class="avatar" src="../static/images/png/avatar_man5.png" alt="foto de perfil del usuario" />
      <div class="comentario">
        <div class="nombre">
          <p class="nombre_comentario">Juanh</p>
          <p class="comentario_texto">
            ha comentado tu publicación: ‘Que guapa’
          </p>

        </div>
        <div class="publicacion">
          <img class="avatar" src="../static/images/png/publicacion.png" alt="foto de publicacion" />
        </div>
      </div>
    </div>

    <div class="comentario_item">
      <img class="avatar" src="../static/images/png/avatar_woman.png" alt="foto de perfil del usuario" />
      <div class="comentario">
        <div class="nombre">
          <p class="nombre_comentario">Maria</p>
          <p class="comentario_texto">
            ha comentado tu publicación: ‘Que Genial’
          </p>

        </div>
        <div class="publicacion">
          <img class="avatar" src="../static/images/png/publicacion.png" alt="foto de publicacion" />
        </div>
      </div>
    </div>

    <div class="comentario_item">
      <img class="avatar" src="../static/images/png/avatar_man4.png" alt="foto de perfil del usuario" />
      <div class="comentario">
        <div class="nombre">
          <p class="nombre_comentario">Julio33</p>
          <p class="comentario_texto">
            te ha enviado una solicitud.
          </p>

        </div>
        <div class="btn_acerptar">
          <input type="submit" value="Aceptar" class="btn_aceptar_inivitacion" />
        </div>
      </div>
    </div>

  </div>

</form>
{% endblock %}