{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="../static/css/publicacion.css" type="text/css" />
{% endblock %} {% block content %}
<!-------- Titulo de la pagina  ------->
<div class="title_page">
  <a href="/">
    <img
      src="../static/images/icons/arrow_left.svg"
      class="arrow"
      alt="flecha para volver"
    />
  </a>
  <h1 class="title_text">Publicación</h1>
</div>
<form action="">
  <!-------- Crear publicacion  ---------->
  <div class="publicacion">
    <div class="head_publicacion">
      <img
        src="../static/images/icons/avatar_women.svg"
        width="46"
        height="46"
        class="avatar_publicacion"
        alt="foto de perfil del usuario"
      />
      <input
        type="text"
        placeholder="¿Qué estas pensando? ¿Qué sientes?"
        class="input_caption"
      />
    </div>
    <label for="file" class="multimedia">
      <div class="btn_multimedia">
        <img
          class="icon_multimedia"
          src="../static/images/icons/multimedia.svg"
          alt="icono de multimedia"
        />
      </div>
      <span class="texto_multimedia">Foto/video/audio</span>
    </label>
    <input
      id="file"
      type="file"
      name="file"
      accept="video/*, audio/*, image/*"
      class="d-none"
      capture="environment"
    />
  </div>
  <!------ Privacidad ---------->
  <div class="privacidad">
    <label for="tipo" class="label_privacidad"
      >Privacidad de la publicación</label
    >
    <select name="tipo" id="tipo" class="select_publicacion">
      <option value="publica">Pública</option>
      <option value="privada">Privada</option>
    </select>
  </div>
  <div class="btn_cargar">
    <input type="submit" value="Cargar" class="btn_cargar_publicacion" />
  </div>
</form>
{% endblock %}
