{% extends "base_template.html" %} 
{% block title %}Restablecer contraseña{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/restablecer.css')}}" type="text/css" />
{% endblock %} 
{% block content %}
  <header>
    <p class="tit"> ATI[UCV]2022-01</p>
  </header>
  <div class = "container">
    <h2 class = "tit1">Restablecer contraseña</h2>
    
    <h4 class="tit2">Introduce tu direccion de correo electrónico que usaste para registrarte.
        Te enviaremos un correo electrónico con tu nombre de usuario y un enlace para restablecer tu contraseña.</h4>
    <label id = "lblEmail">Email</label>
    <input type = "text" id = "emailInput" placeholder = "hey@tuemail.com">
    
    <a class="entrar" href="/login">
        Enviar
    </a>
    <h6 class="tit3">Si necesitas más ayuda, contacta con el servicio de soporte de ATI.</h6>    

    <a class="iniciosesion" href="/login">
        Iniciar sesión
    </a>

  </div> 
{% endblock %}