{% extends "base1.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ver-perfil.css')}}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}" type="text/css" />
{% endblock %} {% block body %}
<!-------- Titulo de la pagina  ------->
<div class="title_page">
    <a href="/">
        <img src="../static/images/icons/arrow_left.svg" class="arrow" alt="flecha para volver" />
    </a>
    <h1 class="title_text">eduardo.yanez</h1>
</div>
<div class="container-md row">
    <img width="148" height="148" src="../static/images/svg/eduardo_yanez.svg" alt="icono de mi perfil"
        class="mx-auto d-block imagenPerfil mx-lg-0" />
    <div class="text-center m-0 imagenPerfil col-lg-7 col-sm-12  align-self-center">
        <h1 class="title_text title_text_perfil text-lg-start i_margen">Eduardo Yanez
        </h1>
        <a href="/editarperfil">
            <img src="../static/images/icons/lapiz.svg" width="25" height="25" class="icon_footer i_margen"
                alt="icono de perfil" />
        </a>
        <a href="/configuracion">
            <img src="../static/images/icons/setting.svg" width="25" height="25" class="icon_footer i_margen"
                alt="icono de configuracion" />
        </a>
        <table class="table table-borderless text-center">
            <thead>
                <tr>
                    <th scope="col">Publicaciones</th>
                    <th scope="col">Siguiendo</th>
                    <th scope="col">Seguidores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3</td>
                    <td>8</td>
                    <td>15</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="imagenPerfil">
</div>


<!-- informacion del perfil -->
<div class="row">
    <div class="col-xl-5 col-md-12 col-xl-5">

        <h2 class="h5 fw-bold">Información</h2 class="h5 fw-bold">
        <div class="card">
            <p class="text-start h5 imagenPerfil">Soy una persona positiva. Me encanta viajar y comer.</p>

            <div class="row table text-xs-center text-md-start vertical-align">
                <div class="col-xs-12 col-md-6 fw-bold">
                    <img src="../static/images/icons/paleta-de-colores.svg" width="22" height="22"
                        class="icon_footer i_margen" alt="icono de color fav" />Color favorito
                </div>
                <div class="col-xs-12 col-md-6">Morado</div>
            </div>
            <hr />
            <div class="row table text-xs-center text-md-start">
                <div class="col-xs-12 col-md-6 fw-bold">
                    <img src="../static/images/icons/libro-cerrado.svg" width="22" height="22"
                        class="icon_footer i_margen" alt="icono de libro fav" />Libro favorito
                </div>
                <div class="col-xs-12 col-md-6">Harry Potter</div>
            </div>
            <hr />
            <div class="row table text-xs-center text-md-start">
                <div class="col-xs-12 col-md-6 fw-bold">
                    <img src="../static/images/icons/musica.svg" width="22" height="22" class="icon_footer i_margen"
                        alt="icono de musica fav" />Música favorita
                </div>
                <div class="col-xs-12 col-md-6">Pop</div>
            </div>
            <hr />
            <div class="row table text-xs-center text-md-start">
                <div class="col-xs-12 col-md-6 fw-bold">
                    <img src="../static/images/icons/control-de-juego.svg" width="22" height="22"
                        class="icon_footer i_margen" alt="icono de videojuego fav" />Videojuego favorito
                </div>
                <div class="col-xs-12 col-md-6">Zelda</div>
            </div>
            <hr />
            <div class="row table text-xs-center text-md-start">
                <div class="col-xs-12 col-md-6 fw-bold">
                    <img src="../static/images/icons/codificacion.svg" width="22" height="22"
                        class="icon_footer i_margen" alt="icono de lenguajes" />Lenguajes aprendidos
                </div>
                <div class="col-xs-12 col-md-6">python, javascript, c++</div>
            </div>
            <hr />
            <div class="row table text-xs-center text-md-start">
                <div class="col-xs-12 col-md-6 fw-bold">
                    <img src="../static/images/icons/correo.svg" width="22" height="22" class="icon_footer i_margen"
                        alt="icono de correo" />Correo
                </div>
                <div class="col-xs-12 col-md-6">eduardo.yanez@gmail.com</div>
            </div>
            <hr>
        </div>
    </div>
    <div class="col-xl-7 col-md-12">

        <!-------- Publicacion con imagen -------->
        <h2 class="h5 fw-bold">Publicaciones</h2 class="h5 fw-bold">
        <div class="card">
            <div class="head_card">
                <a href="/perfil">
                    <img
                      src="../static/images/png/avatar_man.png"
                      class="avatar"
                      alt="foto de perfil del usuario"
                    />
                    <div class="name_date_card">
                      <p class="name_card">Eduardo Yanez</p>
                    </a>
                    <p class="date_card">24/10/2022 6:25PM</p>
                </div>
            </div>
            <p class="caption">El nuevo preparador es genial!!</p>
            <!-- imagen -->
            <img src="../static/images/png/card.png" class="cover_card" alt="foto de la publicacion" />
            <!-- comentarios -->
            <div class="comments">
                <a href="./comentarios.html">
                    <p class="comments_card">Ver todos los comentarios</p>
                </a>
                <div class="comments_card_icon">
                    <img class="comment_icon" src="../static/images/icons/chat_fill_black.svg"
                        alt="icono de comentarios" />
                    <p class>57</p>
                </div>
            </div>
        </div>

        <!------- Publicacion de texto ------->
        <div class="card">
            <div class="head_card">
                <a href="/perfil">
                    <img
                      src="../static/images/png/avatar_man.png"
                      class="avatar"
                      alt="foto de perfil del usuario"
                    />
                    <div class="name_date_card">
                      <p class="name_card">Eduardo Yanez</p>
                    </a>
                    <p class="date_card">24/10/2022 3:00PM</p>
                </div>
            </div>
            <p class="caption">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra
            </p>
        </div>


        <!-------- Publicacion de texto ------->
        <div class="card">
            <div class="head_card">
                <a href="/perfil">
                    <img
                      src="../static/images/png/avatar_man.png"
                      class="avatar"
                      alt="foto de perfil del usuario"
                    />
                    <div class="name_date_card">
                      <p class="name_card">Eduardo Yanez</p>
                    </a>
                    <p class="date_card">24/10/2022 3:00PM</p>
                </div>
            </div>
            <p class="caption">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra
            </p>
            <!-- comentarios -->
            <div class="comments">
                <a href="./comentarios.html">
                    <p class="comments_card">Ver todos los comentarios</p>
                </a>
                <div class="comments_card_icon">
                    <img class="comment_icon" src="../static/images/icons/chat_fill_black.svg"
                        alt="icono de comentarios" />
                    <p class>57</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
