@import "compass/css3";

header{
  background: #006175;
  color: white;
  min-height: 80px;
  border-radius: 15px;
  align-items: center;
  margin-top: -1%;
}
.tit{
  font-family: 'Inter UI', sans-serif;
  text-align: center;
  font-size: 60px;
}

.tit1{
  font-size: 50px;
  margin-top: 1%;
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter UI', sans-serif;
}

a { 
  text-decoration: none; 
}
.tit2{
    font-size: 24px;
    margin-top: -1%;
}
.tit3{
    width: 500px;
    font-size: 24px;
    margin-top: -1%;
    text-align: center;
}

#contraInput{
  border: 1px solid #d9dadc;
  width: 500px;
  height: 42px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  margin-top: 3%;
}

#lblContra{
  width: 450px;
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 600;
}
.entrar{
  background-color: #006175;
  width:500px;
  height: 48px;
  border: none;
  border-radius: 10px;
  font-size: 23px;
  color: white;
  margin-top: 4%;
  text-align: center;
}
.omitir{
    background-color: #006175;
    width:500px;
    height: 48px;
    border: none;
    border-radius: 10px;
    font-size: 23px;
    color: white;
    margin-top: 4%;
    text-align: center;
  }
/*------Responsive para mobile-----*/
@media only screen and (max-width: 360px){
  header{
    width: 350px;    
    margin-right: 0%;
  }
  .tit{
    font-size: 35px;
  }
  .tit1{
    font-size: 40px;
    margin-top: 4%;
    margin-left: 20px;
  }
    
  .tit2{
    font-size: 20px;
    margin-top: 1%;
  }
  #contraInput{
    width: 310px;
    height: 40px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    margin-top: 3%;
  }
  
  #lblContra{
    width: 310px;
    font-size: 20px;
    margin-top: -1%;
  }
  
  #entrar{
    width: 310px; 
    height: 40px;
    font-size: 23px;
    margin-top: 3%;
    margin-top: 30%;
  }
  #omitir{
    width: 310px; 
    height: 40px;
    font-size: 23px;
    margin-top: 3%;
    margin-top: 30%;
  }
  
}