*{
	margin: 0;
  	padding: 0;
	box-sizing:border-box;
}
body{
	background-color:white;
	font-family:'poppins', sans-serif;
}

/* ----------- MOBILE --------------- */
@media only screen and (max-width: 991px){
	header{
		display: none;
	}
	.sidebar{
		display: none;
	}
	.userc{
		display: none;
	}
	.divisor-desktop{
		display: none;
	}
	.container-fluid{
		margin: 0px;
		padding: 0px;
	}
	.divisor-movil{
		margin-top: 10px;
		height: 2px;
		background-color: #C9C9C9;
		align-self: center;
	}
	.Lista{
		padding: 10px;
	}
	ul{
		padding-left:0;
		margin:0;
		list-style-type:none;
		overflow-x:scroll;
		display: flex;
		justify-content: left;
	}
	ul li{
		margin-top: 10px;
	}
	.Perfil{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.chat-up {
		border-radius: 55%;
		overflow: hidden;
		height: 75px;
		width: 75px;
		background-color: white;
		margin-left: 10px;
	}
	.dot{
		position: absolute;
		right: 5px;
  		bottom: 2px;
  		height: 15px;
  		width: 15px;
  		background-color: #26FF03;
  		border-radius: 50%;
	}
	.chat-usuario{
		margin-top: 10px;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-direction: column;
		background-color: white;
	}
	.chat-titulo{
		padding: 5px;
		display: inline-flex;
		justify-content: center;
	}
	.chat-pfp{
		padding: 5px;
		position: relative;
		height: 80px;
		width: 80px;
		margin-right: 5px;
	}
	.chat-name{
		padding: 10px;
		box-sizing:border-box;
		text-align: center;
	}
	.fa{
		padding: 5px;
	}
	.divisor-chat{
		margin-top: 5px;
		height: 2px;
		background-color: #C9C9C9;
	}
	.chat-window{
		height: 100%;
		height: 48vh;
		border-color: #006175;
		border-radius: 15px;
	}
	.send-box{
		display: inline-flex;
		position: fixed;
		bottom: 73px;
		width: 95vw;
		justify-content: center;
	}
	#texto{
		border-color: #006175;
		margin-right: 10px;
		flex-grow: 2;
		border-radius: 20px;
		padding: 5px 10px;
	}
	.enviar{
		position: relative;
		background-color: #006175;
		flex-grow: 1;
		border-radius: 15px;
	}
	p{
		display: flex;
		background-color: #006175;
		border-radius: 15px;
		color: white;
		margin: 5px;
		padding: 5px;
		text-align: left;
	}
}



/* ----------- DESKTOP --------------- */
@media only screen and (min-width: 429px){
	header{
		display: flex;
		justify-content: space-evenly;
		padding: 25px;
		width: 75%;
		position: relative;
	}
	.footer{
		display: none;
	}
	.divisor-movil{
		display: none;
	}
	.retorno {
	  padding: 25px 10px;
	  justify-content: flex-start;
	  background-color: white;
	  color: black;
	  border: none;
	  border-radius: 30%;
	  flex-grow: 1;
	}
	.retorno:hover {
	  background-color: #ddd;
	  color: black;
	}
	#titulo{
		flex-grow: 2;
		text-align: center;
	}

	.Lista{
		display: flex;
		padding:0;
		margin:0;
	}
	ul{
		display: flex;
		flex-direction: column;
		overflow-y:scroll;
		padding: 10px;
	}
	li{
		display: flex;
		padding: 8px 2px;
	}
	h2{
		font-size: 15px;
		margin-right: 5px;
	}
	.user{
		display: flex;
		flex-direction: column;
	}
	.Perfil{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: left;
	}
	.chat-up {
		border-radius: 55%;
		overflow: hidden;
		height: 65px;
		width: 65px;
		background-color: white;
		margin-left: 5px;
	}
	.userc{
		display:flex;
		vertical-align:top;
		padding: 10px 5px;
		flex-grow: 2;
		box-sizing:border-box;
	}
	.dot{
		position: absolute;
		left: 55px;
  		bottom: 2px;
  		height: 15px;
  		width: 15px;
  		background-color: #26FF03;
  		border-radius: 50%;
	}
	.divisor-desktop{
		margin-top: 10px;
		height: 2px;
		background-color: #C9C9C9;
	}
	.chat-usuario{
		border-color: #006175;
	}
	.chat-titulo{
		display: flex;
		justify-content: center;
	}
	.chat-pfp{
		border-radius: 55%;
		overflow: hidden;
		height: 90px;
		width: 90px;
		background-color: white;
	}
	.chat-name{
		text-align: center;
		padding: 25px 5px;
		box-sizing:border-box;
		font-size: medium;
	}
	.chat-window{
		height: 500px;
		border-color: #006175;
		border-radius: 15px;
		text-align: right;
	}
	.divisor-chat{
		margin-top: 10px;
		margin-right: 5px;
		height: 2px;
		background-color: #C9C9C9;
	}
	.send-box{
		display: flex;
		bottom: 20px;
		height: 65px;
		justify-content: space-between;
	}
	#texto{
		border-color: #006175;
		margin-right: 10px;
		flex-grow: 3;
		border-radius: 20px;
		padding: 5px 10px;
	}
	.enviar{
		display: flex;
		background-color: #006175;
		flex-grow: 2;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
	}
	#icon-send{
		--fa-pull-margin: 5px;
		font-size: 45px;
	}
	.sidebar {
		position: fixed;
		top: 0;
	}
	p{
		display: flex;
		background-color: #006175;
		border-radius: 15px;
		color: white;
		margin: 5px;
		padding: 5px;
		text-align: left;
	}
}