header{
  background: #006175;
  color: white;
  min-height: 80px;
  border-radius: 15px;
  align-items: center;
  margin-top: -1%;
}
.tit{
  font-family: 'Inter UI', sans-serif;
  text-align: center;
  font-size: 60px;
  margin-top: 0%;
}

.tit1{
  font-size: 50px;
  
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter UI', sans-serif;
  margin-top: 1%;
}

a { 
  text-decoration: none; 
}

.btn {
  display: flex;
  border-radius: 10px;
  background-color: #5a5656;
  color: #f4f4f4;
  font-size: 28px;
  height: 48px;
  line-height: 50px;
  margin: 15px ;
  width: 500px;
  margin-top: -1%;
  align-items: center;
  
}
.btn-icon {
  display: flex;
  float: left;
  width: 28px;
  height:28px;
  margin:10px;

}

.facebook {
    background-color: #3D65BA;
    color: white;
    
}

.fb-icon {
  background-color: #3D65BA;
  background: url("https://i.imgur.com/yVPFiX9.png")  no-repeat;
}

.twitter {
    background-color: #00ACEE;
    color: white;
}

.twitter-icon {
    background-color: #00ACEE;
    background: url("https://i.imgur.com/sO5Y2aG.png") no-repeat;
}



.tit2{
  font-size: 26px;
  margin-top: -1%;
}

#nomeInput{
  border: 1px solid #d9dadc;
  width: 500px;
  height: 42px;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

#senhaInput{
  border: 1px solid #d9dadc;
  width: 500px;
  height: 42px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

#lblEmail{
  width: 450px;
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 600;
  margin-top: -1%;
}

#lblContra{
  width: 450px;
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 600;
}

.olvidoContra{
  width: 450px;
  font-size: 20px;
  margin: 1%;
}
.registro{
  width: 450px;
  font-size: 20px;
  margin: 1%;
  text-align: center;
}

.entrar{
  background-color: #006175;
  width: 500px;
  height: 48px;
  border: none;
  border-radius: 10px;
  font-size: 23px;
  color: white;
  text-align: center;
}

#errorL{
  color: red;
}
/*------Responsive para mobile-----*/
@media only screen and (max-width: 360px){
  header{
    width: 430px;    
    margin-right: 0%;
  }
  .tit{
    font-size: 35px;
  }
  .tit1{
    font-size: 40px;
    margin-top: 4%;
    margin-left: 20px;
  }
  
  .btn {
    font-size: 14px;
    height: 40px;
    margin-left: 20px ;
    width: 310px;
    margin-top: -3%;
    
  }
  .btn-icon {
    width: 28px;
    height:28px;
    margin:10px;
  }
  
  .tit2{
    font-size: 21px;
    margin-top: 1%;
  }
  
  #nomeInput{
    width: 310px;
    height: 40px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
  }
  
  #senhaInput{
    width: 310px;
    height: 40px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
  }
  
  #lblEmail{
    width: 310px;
    font-size: 20px;
    margin-top: -1%;
  }
  
  #lblContra{
    width: 310px;
    font-size: 20px;
    margin-top: -1%;
  }
  
  .olvidoContra{
    width: 310px;
    font-size: 16px;
    margin: 1%;
    margin-top: 4%;
  }
  .registro{
    width: 310px;
    font-size: 16px;
    margin: 1%;
    margin-top: 4%;
    text-align: center;
  }
  
  #entrar{
    width: 310px; 
    height: 40px;
    font-size: 23px;
    margin-top: 3%;
  }
  
}