@import "compass/css3";

header{
  background: #006175;
  color: white;
  min-height: 70px;
  border-radius: 15px;
  align-items: center;
  margin-top: -1%;
}
.tit{
  font-family: 'Inter UI', sans-serif;
  text-align: center;
  font-size: 60px;
}

.tit1{
  font-size: 50px;
  margin-top: 0%;
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter UI', sans-serif;
}

a { 
  text-decoration: none; 
}

.tit2{
  font-size: 26px;
  margin-top: 0%;
}

#nomeInput{
  width: 500px;
  height: 42px;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

#nameInput{
    border: 1px solid #d9dadc;
    width: 500px;
    height: 42px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}
#apeInput{
    border: 1px solid #d9dadc;
    width: 500px;
    height: 42px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}
#cedulaInput{
    border: 1px solid #d9dadc;
    width: 500px;
    height: 42px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

#lblEmail{
  width: 450px;
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 600;
  margin-top: -1%;
}

#lblName{
  width: 450px;
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 600;
}
#lblApe{
    width: 450px;
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 600;
}
#lblCedula{
    width: 450px;
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 600;
}
.iniciosesion{
    width: 450px;
    font-size: 20px;
    text-align: center;
    margin-top: 0%;
}

.crear{
  background-color: #006175;
  width:500px;
  height: 48px;
  border: none;
  border-radius: 10px;
  font-size: 23px;
  color: white;
  margin-top: 3%;
  text-align: center;
}

#errorL{
    color: red;
}


/*------Responsive para mobile-----*/
@media only screen and (max-width: 360px){
    header{
        width: 350px;    
        margin-right: 0%;
    }
    .tit{
        font-size: 35px;
    }
    .tit1{
        font-size: 40px;
        margin-top: 4%;
        margin-left: 20px;
    }
    .tit2{
        font-size: 21px;
        margin-top: -2%;
    }
    #nomeInput{
        width: 310px;
        height: 40px;
        padding: 15px;
        text-align: center;
        font-size: 18px;
    }      
    #nameInput{
        width: 310px;
        height: 40px;
        padding: 15px;
        text-align: center;
        font-size: 18px;
    }
    #apeInput{
        width: 310px;
        height: 40px;
        padding: 15px;
        text-align: center;
        font-size: 18px;
    }
    #cedulaInput{
        width: 310px;
        height: 40px;
        padding: 15px;
        text-align: center;
        font-size: 18px;
    }
    
    #lblEmail{
        width: 310px;
        font-size: 20px;
        margin-top: -1%;
    }      
    #lblName{
        width: 310px;
        font-size: 20px;
        margin-top: -1%;
    }
    #lblApe{
        width: 310px;
        font-size: 20px;
        margin-top: -1%;
    }
    #lblCedula{
        width: 310px;
        font-size: 20px;
        margin-top: -1%;
    }
    .iniciosesion{
        width: 310px;
        font-size: 16px;
        margin: 1%;
        margin-top: 4%;
        text-align: center;
    }
      
    #crear{
        width: 310px; 
        height: 40px;
        font-size: 23px;
        margin-top: 3%;
    }
     
}