<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <link
      rel="icon"
      href="./app/static/images/favicon.ico"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="../static/css/index.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/home.css" type="text/css" />
    <link
      rel="stylesheet"
      href="./app/static/css/publicacion.css"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>ATI [UCV] 2022-1</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <!-------- Titulo de la pagina  ------->
          <div class="title_page">
            <a href="./app/templates/home.html">
              <img
                src="./app/static/images/icons/arrow_left.svg"
                class="arrow"
                alt="flecha para volver"
              />
            </a>
            <h1 class="title_text">Publicación</h1>
          </div>
          <form action="">
            <!-------- Crear publicacion  ---------->
            <div class="publicacion">
              <div class="head_publicacion">
                <img
                  src="./app/static/images/icons/avatar_women.svg"
                  width="46"
                  height="46"
                  class="avatar_publicacion"
                  alt="foto de perfil del usuario"
                />
                <input
                  type="text"
                  placeholder="¿Qué estas pensando? ¿Qué sientes?"
                  class="input_caption"
                />
              </div>
              <label for="file" class="multimedia">
                <div class="btn_multimedia">
                  <img
                    class="icon_multimedia"
                    src="./app/static/images/icons/multimedia.svg"
                    alt="icono de multimedia"
                  />
                </div>
                <span class="texto_multimedia">Foto/video/audio</span>
              </label>
              <input
                id="file"
                type="file"
                name="file"
                accept="video/*, audio/*, image/*"
                class="d-none"
                capture="environment"
              />
            </div>
            <!------ Privacidad ---------->
            <div class="privacidad">
              <label for="tipo" class="label_privacidad"
                >Privacidad de la publicación</label
              >
              <select name="tipo" id="tipo" class="select_publicacion">
                <option value="publica">Pública</option>
                <option value="privada">Privada</option>
              </select>
            </div>
            <div class="btn_cargar">
              <input
                type="submit"
                value="Cargar"
                class="btn_cargar_publicacion"
              />
            </div>
          </form>
          <!---------- Footer -------------->
          <div class="footer d-lg-none">
            <a href="./app/templates/home.html">
              <img
                src="./app/static/images/icons/home.svg"
                width="25"
                height="25"
                class="icon_footer"
                alt="icono de home"
              />
            </a>
            <img
              src="./app/static/images/icons/notification.svg"
              width="25"
              height="25"
              class="icon_footer"
              alt="icono de notificaciones"
            />
            <a href="./publicacion.html">
              <img
                src="./app/static/images/icons/plus_fill.svg"
                width="25"
                height="25"
                class="icon_footer"
                alt="icono de crear publicacion"
              />
            </a>
            <img
              src="./app/static/images/icons/chat.svg"
              width="25"
              height="25"
              class="icon_footer"
              alt="icono del chat"
            />
            <img
              src="./app/static/images/icons/avatar_women.svg"
              width="25"
              height="25"
              class="icon_footer"
              alt="icono de mi perfil"
            />
          </div>
        </div>

        <!-- Sidebar en desktop -->
        <div class="sidebar col-lg-4 d-none d-lg-block">
          <a href="./app/templates/home.html" class="item_sidebar">
            <img
              src="./app/static/images/icons/home_white_outline.svg"
              alt="icono de home"
            />
            <p class="title_sidebar">Home</p>
          </a>
          <a class="item_sidebar">
            <img
              src="./app/static/images/icons/notifications_white.svg"
              alt="icono de notificaciones"
            />
            <p class="title_sidebar">Notificaciones</p>
          </a>
          <a class="item_sidebar" href="./publicacion.html">
            <img
              src="./app/static/images/icons/plus_fill_white.svg"
              alt="icono de crear publicacion"
            />
            <p class="title_sidebar">Crear publicación</p>
          </a>
          <a class="item_sidebar">
            <img
              src="./app/static/images/icons/chat_white.svg"
              alt="icono del chat"
            />
            <p class="title_sidebar">Chat</p>
          </a>
          <a class="item_sidebar">
            <img
              width="50"
              height="50"
              src="./app/static/images/icons/avatar_women.svg"
              alt="icono de mi perfil"
            />
            <p class="title_sidebar">Mi Perfil</p>
          </a>
          <a class="item_sidebar exit">
            <img
              src="./app/static/images/icons/exit_white.svg"
              alt="icono de cerrar sesion"
            />
            <p class="title_sidebar">Cerrar sesión</p>
          </a>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
